.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.32%;}
.col-5 {width: 41.65%;}
.col-6 {width: 50%;}
.col-7 {width: 58.31%;}
.col-8 {width: 66.64%;}
.col-9 {width: 75%;}
.col-10 {width: 83.30%;}
.col-11 {width: 91.63%;}
.col-12 {width: 100%;}


/* navbar start from here */
.nav-image{
    text-align: left;
}

.nav-header{
    text-align: right;
}

.navbar-menu{
    flex-direction: row;
    justify-content: flex-end;
}

.navbar-menu a{
    background-color: transparent;
    margin-top:40px;
}

/* navbar ends here */

/* profile start from here */

.profile .top-weather-icon{
    position:absolute;
    right:100px;
    top:20px;
    width:130px;
    transition: width 2s, transform 2s; 
    

}

.profile .top-weather-icon:hover{
    width:200px; 

    .bottom-weather-icon{
        position: absolute;
        left:60px;
        bottom:20px;
        width: 120px;
        transition: width 2s, transform 2s;
    }
    
    .profile .bottom-weather-icon:hover{
        width:200px;
    }
 
/* profile ends here */


/* about me start from here */
.profile-image img{
    margin-top:200px;
}

/* about me ends here */


/* Professional Experience Starts here */

.professional-experience{
    padding:10px;
}



/* Professional Experience ends here */


/* contacts-link start here */
.contacts-link{
position:relative;
}

.media-link{
position:absolute;
top:50%;
left:50%;
transform:calc(-50%, -50%);
}
/* contacts-link ends here */


/* footer start from here */
.footer-menu{
  margin-top:10px;
  
}

.footer-menu a {
  display: inline; 
  margin:10px;
 
}
/* footer ends here */