*{
    box-sizing:border-box;
    font-family: 'Fira Sans', sans-serif;
}

body{
    margin:0;
}

h1{
    font-size: 2.5rem;
    text-align:center;
    color:white;
}

h2{
    color:white;
    text-align: center;
}

p{
    font-size: 1.2rem;
}

a{
    color:white;
    text-decoration:none;
    font-size: 1.2rem;
}

[class*="col-"]{
    float:left;
    padding:10px;
}

[class*="col-"]{
    width:100%;
}

/* navbar start from here */
.navbar{
    background-color: green;
    padding:1% 7%;
    text-align:center;
    
}



.navbar-menu{
    display:flex;
    flex-direction: column;
    
}

.navbar-menu a{
    margin:10px;
    background-color:olivedrab;
}

.navbar-menu a:hover{
    background-color: grey;
}

.navbar::after{
    content:'';
    display:table;
    clear:both;

}

/* navbar ends here */

/* profile star from here */

.profile{
    padding:150px;
    text-align:justify;
    position: relative;

}

.profile .top-weather-icon{
    position:absolute;
    right:60px;
    top:20px;
    transition: transform 2s; 
    

}

.profile .top-weather-icon:hover{
    transform: rotate(360deg);
}

.profile .profile-desc h1{
    color:black;
    font-family: 'Satisfy', cursive;
}

.profile .profile-desc p{
    color:grey
    text-align:center;
}

.bottom-weather-icon{
    position: absolute;
    left:40px;
    bottom:10px;
    transition: transform 2s;
}

.bottom-weather-icon:hover{
    transform: rotate(360deg);
}



/* profile ends here */

/* about me start from here */

.about-me{
   background-color:green; 
   color:white;
}

.about-me p{
    font-family: 'Montserrat', sans-serif;
    font-size:1.2rem;
}

.profile-image{
    padding:1% 7%;
    text-align:center;
    color:white;
}

.profile-image img{
    border:2px solid white;
    border-radius:50%;
    width:200px;
    height:220px;
}

.about-me .dotted-hr{
    border:6px dotted white;
    border-bottom:none;
    width:70%
    text-align:left;
}

.submit-button{
    font-size:1.5rem;
    background-color: olive;
    border:none;
    font-weight: 20px;
    color:white;
    padding:15px;
    border-radius:20px;
    cursor:pointer;
}

.about-me::after{
    clear:both;
    display:table;
    content:'';
}


/* about me ends here */

/* Professional experience starts from here */

.professional-experience{
padding:10px;

}

.card{
    background-color:grey;
    height:700px;
}

.card:hover{
    box-shadow: 0px 4px 8px 4px;
}

.card-icon{
    text-align:center;

}

.card-icon img{
    width:120px;
    height:100px;
    margin-top:20px;

}

.rounded-image{
    border: 5px solid white;
    border-radius:50%;
    padding:10px;
}

.card-title h2{
    background-color: darkolivegreen;
    color:white;
    padding:10px;
    text-align:center;
}

.card-description{
    text-align:left;
    
}



.card-description ol li{
   margin:30px 0;
}

.skill-container{
    padding-right: 45px;
}

.skill-container li{
    text-decoration: none;
    text-transform: uppercase;
    margin:50px 2px;
    font-weight:bolder;
    position:relative;
}

.skill-container li::before{
    content:'';
    position:absolute;
    width:100%;
    height:20px;
    background-color:aquamarine;
    top:calc(100% + 5px);
}

.skill-container li::after{
    content:'';
    position:absolute;
    width:0%;
    height:20px;
    background-color:rgb(2, 37, 26);
    top:calc(100% + 5px);
    left:0px;

   
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.skill-container li.html::after{
    animation-name: html;
}

@keyframes html{
    to{
        width:80%;
    }
}

.skill-container li.css::after{
    animation-name: css;
}

@keyframes css{
    to{
        width:90%;
    }
}


.skill-container li.java::after{
    animation-name: java;
}

@keyframes java{
    to{
        width:50%;
    }
}

.skill-container li.python::after{
    animation-name: python;
}

@keyframes python{
    to{
        width:60%;
    }
}


.skill-container li.ruby::after{
    animation-name: ruby;
}

@keyframes ruby{
    to{
        width:95%;
    }
}



.professional-experience::after{
    clear:both;
    display:table;
    content:'';
}
/* Professional experience ends here */

/* achievements-contacts start here */

.achievements-contacts{
    padding:1% 7%;
background-color: rgb(14, 236, 81);
}

.contacts{
    text-align:center;
}

.contacts input, textarea{
    text-align: center;
    width:100%;
    padding:1% 7%;
    margin:10px;
    text-align: center;
    border:none;
    border-radius: 5px;
    font-size: 1rem;
    resize: none;
}


.contacts button{
    border:none;
    padding:10px;
    border-radius:10px;
    background-color: chocolate;
    color:white;
    font-size: 1rem;
    text-align: center;
    width:100px;
    cursor: pointer;
}

.achievements-contacts::after{
    clear:both;
    display:table;
    content:'';
}

.contacts-link{
    text-align:center;
}

.contacts-link .btn{
  border:none;
  padding:10px;  
  font-size: 3rem;
  border-radius:20px;
  width:80px;
  cursor:pointer;
  margin:20px;
}

.contacts-link .btn:hover{
   background-color: grey;
  }

/* achievements-contacts ends here */

/* footer start from here */
.footer{
    background-color: black;
    color:white;
    padding:10px;
   text-align: center;
    font-size:0.8rem;
}

.footer-menu{
   
    
}

.footer-menu a{
    display:block;
    margin:15px 0;
    font-size:1rem;
}

.footer-menu a:hover{
    color:grey;
}

.footer-desc{
    text-align:center;
}


.footer::after{
    clear:both;
    content:'';
    display:table; 
}


/* footer ends here */